*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}
header
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    background-color: #1F2937;
}
.header-logo
{
    cursor: pointer;
    font-size: 24px;
    color: #f9faf8;
    margin-right: auto;
}

.nav-links
{
    list-style: none;
}
.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav-links li a 
{
    transition: ease 0.3s ease 0s;
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}
.nav-links li a:hover
{
    color: #0088a9;
}
.main-container1
{
    display: flex;
    background-color: #1f2937;
    padding: 50px 20px 100px 20px;
}
header, .main-container1
{ 
    padding-left: 200px;
    padding-right: 200px;
    gap: 100px;
}
.main-container1-left p
{
    margin-bottom: 16px;
}
.main-container1-right
{
    display: flex;
}
.main-container1-right, .main-container1-left
{
    flex-direction: column;
    flex: 1;
}
.description-title {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
  }
.description-text
{
    font-size: 18px;
    color: #e5e7eb;
}
button {
    padding: 9px 40px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 18px;
  }
.description-button
{
    border: none;
    background-color: #3882f6;
    color: #f9faf8;
    margin-top: 20px;
}
#description-img {
    height: 250px;
    width: 400px;
    object-fit: cover;
  }
.products-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 250px 100px 250px;
}
.info-header {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    padding-bottom: 50px;
}
.info-boxes {
    display: flex;
    justify-content: center;
    gap: 60px;
}
.info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info-img {
    width: 160px;
    height: 160px;
    border: 5px solid #3882f6;
    border-radius: 15px;
}
.info-subtext {
    flex-wrap: wrap;
    width: 150px;
    text-align: center;
    padding-top: 10px;
}
.quote-container {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 100px 150px 75px 150px;
}
.quote-container p {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}
.quote-author
{
    align-self: end;
  font-size: 24px;
  font-weight: bold;
  padding-right: 30px;
}
.signup-container {
    display: flex;
    flex-direction: column;
    padding: 100px 150px;
  }
.signup-container-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    height: 150px;
    border-radius: 10px;
}
.signup-container-header-and-info {
    flex: 2;
    display: flex;
    flex-direction: column;
    padding-left: 100px;
}
.signup-container-header-and-info h3 {
    color: #f9faf8;
    padding-bottom: 5px;
}
.signup-container-header-and-info p {
    color: #e5e7eb;
  }
.signup-container-button {
    display: flex;
    flex: 1;
    justify-content: end;
    padding-right: 100px;
}
.button-2 {
    border: 2px solid #f9faf8;
    background-color: #3882f6;
    color: #f9faf8;
}
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
    height: 100px;
}